@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */
.card-body {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  margin-top: 50px;
}
.item-container {
  justify-content: center;
  margin: 0 auto;
}
.created-item-section ul li {
  padding: 20px;
  background: #eee;
  border-radius: 8px;
  margin: 20px;
  width: auto;
}

.created-item-section ol li {
  padding: 0px;
  margin: 0px;
}
.btn.btn-edit {
  font-size: 16px;
  padding: 10px 29px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  /* margin: 0 3px; */
  background: #136213 !important;
  color: #ffffff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px !important;
  margin-right: 11px;
  margin-left: 11px !important;
  border: 1px solid transparent;
  transition: 0.4s all ease;
}
.btn.btn-edit:hover {
  border: 1px solid #136213;
  background: #147e14 !important;
}
.btn.btn-delete {
  font-size: 16px;
  padding: 10px 29px;
  text-align: center;
  line-height: 25px;
  /* margin: 0 3px; */
  color: #ffffff !important;
  background: #b81010 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px !important;
  margin: 0 11px 0 0;
  border: 1px solid transparent;
  transition: 0.4s all ease;
}
.btn.btn-delete:hover {
  border: 1px solid #ca0000;
}
